@import "tailwindcss";

:root {
  --color-red-500: #EB5757;
  --color-purple-500: #9B51E0;
  --color-gray-800: #888888;
  --color-gray-500: #BDBDBD;
  --color-gray-300: #E5E5E5;
  --color-black: #2F2F2F;
}
